<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/home_header.css">
    <link rel="stylesheet" href="../static/home_divide.css">
    <link rel="stylesheet" href="../static/home_search.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="profile">
            <a href="/profile" class="profile-button">
                <i class="fas fa-user-circle"></i>
            </a>
        </div>

        <!-- Search Bar Section -->
        <div class="search-container">
            <input type="text" class="searchInput" id="searchInput" placeholder="Search memories, users, etc.">
            <button id="searchButton" class="searchButton">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                </svg>
            </button>
        </div>

        <div class="logo">
            <a href="/"><img src="logo.png" alt="Site Logo"></a>
        </div>
    </header>

    {% block content %}
        <!-- Content specific to each page goes here -->
    {% endblock %}

    <!-- JavaScript to handle modal and dropdown -->
    <script src="../static/home.js"></script>
    <script src="../static/search.js"></script>
</body>
</html>